<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dash</servlet-name>
        <servlet-class>Dash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashC</servlet-name>
        <servlet-class>DashC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserC</servlet-name>
        <servlet-class>UserC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>Apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StRemove</servlet-name>
        <servlet-class>StRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>model.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dash</servlet-name>
        <url-pattern>/Dash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashC</servlet-name>
        <url-pattern>/DashC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserC</servlet-name>
        <url-pattern>/UserC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StRemove</servlet-name>
        <url-pattern>/StRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
